Source: {{sourcePackageName}}
Section: java
Priority: optional
Maintainer: {{signerName}} <{{signerEmail}}>
Build-Depends: debhelper, lsb-release, bash (>= 4.0)
Standards-Version: 3.9.7
Homepage: https://adoptopenjdk.net/

Package: {{sourcePackageName}}
Section: java
Architecture: {{allDebArches}}
Pre-Depends: wget, ca-certificates, bash (>= 4.0)
Depends: java-common (>= 0.24), locales, ${misc:Depends}
Conflicts: j2se-common
Recommends: gsfonts-x11, {{setDefaultPackageName}}
Suggests: ttf-baekmuk | ttf-unfonts | ttf-unfonts-core, ttf-kochi-gothic | ttf-sazanami-gothic,
          ttf-kochi-mincho | ttf-sazanami-mincho,
          ttf-arphic-uming
Provides: java-virtual-machine, java-compiler, default-jre, default-jre-headless,
          java-runtime, java2-runtime, java5-runtime, java6-runtime, java7-runtime, java8-runtime,
          java-runtime-headless, java2-runtime-headless, java5-runtime-headless,
          java6-runtime-headless, java7-runtime-headless, java8-runtime-headless,
          java-jdk, java2-jdk, java5-jdk, java6-jdk, java7-jdk, java8-jdk
Description: {{fullHumanTitle}}
 Installer package for {{fullHumanTitle}}.
 This package does not contain binary files, but is only a downloader/installer.
 To set this a system-wide default, install the package {{setDefaultPackageName}}

Package: {{setDefaultPackageName}}
Section: java
Architecture: {{allDebArches}}
Pre-Depends: {{sourcePackageName}}
Depends: ${misc:Depends}
Description: Set {{fullHumanTitle}} as default
 Sets {{fullHumanTitle}} as the system default.
 This will set JAVA_HOME, and run update-java-alternatives for you.

{{commentForVirtualPackage}}Package: {{virtualPackageName}}
{{commentForVirtualPackage}}Section: java
{{commentForVirtualPackage}}Architecture: {{allDebArches}}
{{commentForVirtualPackage}}Depends: {{sourcePackageName}}, ${misc:Depends}
{{commentForVirtualPackage}}Description: Virtual package for {{fullHumanTitle}}
{{commentForVirtualPackage}} Virtual package depending {{fullHumanTitle}}
{{commentForVirtualPackage}} This package depends on {{sourcePackageName}}
