Source: {{sourcePackageName}}
Section: java
Priority: optional
Maintainer: {{signerName}} <{{signerEmail}}>
Build-Depends: debhelper, lsb-release, bash (>= 4.0)
Standards-Version: {{standardsVersion}}
Homepage: https://adoptopenjdk.net/

Package: {{sourcePackageName}}
Section: java
Architecture: {{allDebArches}}
Pre-Depends: wget, ca-certificates, bash (>= 4.0)
Depends: java-common (>= 0.24), locales, libxrender1, libxtst6, libxi6, libfontconfig1, libasound2, ${misc:Depends}
Recommends: fonts-dejavu-extra
Suggests: fonts-ipafont-gothic, fonts-ipafont-mincho, fonts-wqy-microhei, fonts-wqy-zenhei,
          fonts-indic, {{setDefaultPackageName}}(= ${binary:Version})
Provides: {{provides}}
Description: {{fullHumanTitle}}
 Installer package for {{fullHumanTitle}}.
 This package does not contain binary files, but is only a downloader/installer.
 To set this as system-wide default, install the package
 {{setDefaultPackageName}}

Package: {{setDefaultPackageName}}
Section: java
Architecture: {{allDebArches}}
Pre-Depends: {{sourcePackageName}}(= ${binary:Version})
Depends: ${misc:Depends}
Provides: adoptopenjdk-default
Conflicts: adoptopenjdk-default
Description: Set {{fullHumanTitle}} as default
 Sets {{fullHumanTitle}} as the system default.
 This will set JAVA_HOME, and run update-java-alternatives for you.

{{commentForVirtualPackage}}Package: {{virtualPackageName}}
{{commentForVirtualPackage}}Section: java
{{commentForVirtualPackage}}Architecture: {{allDebArches}}
{{commentForVirtualPackage}}Depends: {{sourcePackageName}}(= ${binary:Version}), ${misc:Depends}
{{commentForVirtualPackage}}Recommends: {{setDefaultPackageName}}(= ${binary:Version})
{{commentForVirtualPackage}}Description: Virtual package for {{fullHumanTitle}}
{{commentForVirtualPackage}} Virtual package depending {{fullHumanTitle}}
{{commentForVirtualPackage}} This package depends on {{sourcePackageName}}
