#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

# Use xz (not zstd) compression for deb packages
override_dh_builddeb:
	dh_builddeb -- -Zxz
