#!/bin/sh
#jinstall - Command line script to easily add new java directories to
#'alternatives'. This sets the java as default, and you can switch your
#default java with update-java-alternatives
#
#Copyright 2012 Bruce.Ingalls at gmail & Alin Andrei <webupd8@gmail.com>
#GPL v3 Affero license at http://www.gnu.org/
#Downloads & discussion at http://www.webupd8.org/
#Tested on Ubuntu Oneiric; should require few changes for other modern Unix systems
#Currently tested only with JDK, not JRE.
# Not fully internationalized, including japanese man pages

set -e

VER='0.6alpha'

case $(dpkg --print-architecture) in
'i386'|'i586'|'i686') arch=i386; dld=i586;
  SHA256SUM_TGZ="640333e749f24428b78c2b10422f7174f8fbd0b8acde27526c195024fad8b6b6" #must be modified for each release
  ;;
'amd64'  ) arch=amd64; dld=x64;
  SHA256SUM_TGZ="53c29507e2405a7ffdbba627e6d64856089b094867479edc5ede4105c1da0d65" #must be modified for each release
  ;;
arm*      )
  arch=arm
	if [ `uname -m` = "armv7l" ] || [ `uname -m` = "armv6l" ]; then
		if [ -x /usr/bin/readelf ] ; then
			HARDFLOAT=`readelf -A /proc/self/exe | grep Tag_ABI_VFP_args`
			if [ -z "$HARDFLOAT" ]; then
				# Softfloat
				echo "Oracle Java 8 doesn't support ARM v6/v7 softfloat ABI."
				#dld='arm-vfp-sflt'
				#SHA256SUM_TGZ="5026a8f2eea8d350ea6ed7cfb8496b571ec9c1e43db82750a3ca8dc02569076e"
			else
				# Hardfloat
				dld='arm32-vfp-hflt'
				SHA256SUM_TGZ="1b9c57eed403b1299b10c529b16b7ef7f9a62d75cc9a8b0bf3827d1b55caed71" #must be modified for each release
			fi
		fi
	elif [ `uname -m` = "armv8l" ] || [ `uname -m` = "arm64" ] || [ `uname -m` = "aarch64" ]; then
		dld='arm64-vfp-hflt'
		SHA256SUM_TGZ="1f4f655e2d2d1d4263671a3fd81c9d3354613c499de43dfbc292cd982270fce5" #must be modified for each release
	else
		echo "Oracle JDK 8 only supports ARM v6/v7/v8 hardfloat."
		arch=''
	fi
	;;
*         )
    echo "Please report to author unsupported platform '`uname -m`'.";
    echo "Proceeding without web browser plugin support";
    arch='';
esac

if [ ! $arch = "arm" ]; then
	JAVA_VERSION=8u191 #must be modified for each release jdk-8u5-linux-x64.tar.gz
	J_DIR=jdk1.8.0_191 #must be modified for each release
	FILENAME=jdk-${JAVA_VERSION}-linux-${dld}.tar.gz
	PARTNER_URL=http://download.oracle.com/otn-pub/java/jdk/8u191-b12/2787e4a523244c269598db4e85c51e0c/$FILENAME #must be modified for each release
	for JAVA_VERSION_OLD2 in `seq 1 190`; do #must be modified for each release
	   FILENAMES_OLD2="jdk-8u${JAVA_VERSION_OLD2}-linux-${dld}*.tar.gz $FILENAMES_OLD2"
	done
else
	JAVA_VERSION=8u191 #must be modified for each release jdk-8-linux-arm-vfp-hflt.tar.gz
	J_DIR=jdk1.8.0_191 #must be modified for each release
	FILENAME=jdk-${JAVA_VERSION}-linux-${dld}.tar.gz
	PARTNER_URL=http://download.oracle.com/otn-pub/java/jdk/8u191-b12/2787e4a523244c269598db4e85c51e0c/$FILENAME #must be modified for each release
	for JAVA_VERSION_OLD1 in `seq 1 190`; do #must be modified for each release
		FILENAMES_OLD1="jdk-8u${JAVA_VERSION_OLD1}-linux-${dld}*.tar.gz $FILENAMES_OLD1 jdk-8-*.tar.gz"
	done
fi

for JAVA_VERSION_OLD in `seq 53 190`; do #must be modified for each release
  FILENAMES_OLD="jdk-8-ea-bin-b${JAVA_VERSION_OLD}-linux-${dld}-*.tar.gz $FILENAMES_OLD" #old name
  FILENAMES_OLD_N="jdk-8-fcs-bin-b${JAVA_VERSION_OLD}-linux-${dld}*.tar.gz $FILENAMES_OLD_N" #new name
  FILENAMES_OLD_NA="jdk-8-fcs-b${JAVA_VERSION_OLD}-linux-${dld}*.tar.gz $FILENAMES_OLD_NA" #arm
done

J_INSTALL_DIR=/usr/lib/jvm/java-8-adoptopenjdk

. /usr/share/debconf/confmodule

db_get adoptopenjdk-java8-installer/local
echo "$SHA256SUM_TGZ  $RET/$FILENAME" \
| sha256sum -c > /dev/null 2>&1 \
|| db_set adoptopenjdk-java8-installer/local /var/cache/adoptopenjdk-jdk8-installer

db_get adoptopenjdk-java8-installer/local
echo "$SHA256SUM_TGZ  $RET/$FILENAME" \
| sha256sum -c > /dev/null 2>&1 \
|| db_set adoptopenjdk-java8-installer/local /usr/lib/adoptopenjdk-jdk8-installer-unpackdir

db_get adoptopenjdk-java8-installer/local
echo "$SHA256SUM_TGZ  $RET/$FILENAME" \
| sha256sum -c > /dev/null 2>&1 \
|| db_reset adoptopenjdk-java8-installer/local

while true; do
    db_input medium adoptopenjdk-java8-installer/local || true
    db_go
    db_get adoptopenjdk-java8-installer/local
    if [ -d "$RET" -a -f "$RET"/$FILENAME ]; then
		LOCAL="true"
		break;
    elif [ "x$RET" = "x" ]; then
		break;
    fi
    db_reset adoptopenjdk-java8-installer/not_exist || true
    db_reset adoptopenjdk-java8-installer/local || true
    db_text medium adoptopenjdk-java8-installer/not_exist || true
    db_go
done

exit 0
