Source: adoptopenjdk-java8-installer
Section: java
Priority: optional
Maintainer: Ricardo Pardini (Pardini Yubi 2017) <ricardo@pardini.net>
Build-Depends: debhelper, lsb-release, bash (>= 4.0)
Standards-Version: 3.9.7
Homepage: https://adoptopenjdk.net/

Package: adoptopenjdk-java8-installer
Section: java
Architecture: any
Pre-Depends: wget, ca-certificates, bash (>= 4.0)
Depends: java-common (>= 0.24), locales, ${misc:Depends}
Conflicts: j2se-common
Recommends: gsfonts-x11, adoptopenjdk-java8-set-default
Suggests: ttf-baekmuk | ttf-unfonts | ttf-unfonts-core, ttf-kochi-gothic | ttf-sazanami-gothic,
          ttf-kochi-mincho | ttf-sazanami-mincho,
          ttf-arphic-uming
Provides: java-virtual-machine, java-compiler, default-jre, default-jre-headless,
          java-runtime, java2-runtime, java5-runtime, java6-runtime, java7-runtime, java8-runtime,
          java-runtime-headless, java2-runtime-headless, java5-runtime-headless, java6-runtime-headless, java7-runtime-headless, java8-runtime-headless,
          java-jdk, java2-jdk, java5-jdk, java6-jdk, java7-jdk,
          java-sdk, java2-sdk, java5-sdk, java6-sdk, java7-sdk,
          openjdk-6-jre, openjdk-6-jre-headless,
          openjdk-7-jre, openjdk-7-jre-headless, openjdk-7-jdk,
          oracle-java7-bin, oracle-java7-jre, oracle-java7-jdk, oracle-java7-fonts,
          oracle-java8-bin, oracle-java8-jre, oracle-java8-jdk, oracle-java8-fonts,
          java8-jdk, java8-sdk, openjdk-8-jdk, openjdk-8-jre,
          openjdk-8-jre-headless, openjdk-8-jdk-headless,
Replaces: openjdk-6-jre, openjdk-6-jre-headless,
          openjdk-7-jre, openjdk-7-jre-headless, openjdk-7-jdk,
          oracle-java7-bin, oracle-java7-jre, oracle-java7-jdk, oracle-java7-fonts,
          oracle-jdk7-installer, oracle-java8-bin, oracle-java8-jre, oracle-java8-jdk, oracle-java8-fonts,
          oracle-jdk8-installer, oracle-java8-installer
Description: AdoptOpenJDK Java(TM) Development Kit (JDK) 8
 The JDK(TM) is a development environment for building and running
 applications, applets, and components using the Java programming language.
 .
 The JDK(TM) includes Java Runtime Environment (JRE) for running applications,
 and tools useful for developing and testing programs written in the Java
 programming language.
 .

Package: adoptopenjdk-java8-set-default
Section: java
Architecture: any
Pre-Depends: adoptopenjdk-java8-installer
Depends: ${misc:Depends}
Conflicts: oracle-java6-set-default, oracle-java7-set-default, oracle-java9-set-default
Replaces: oracle-java8-set-default, oracle-java6-set-default, oracle-java7-set-default, oracle-java9-set-default
Description: Set AdoptOpenJDK JDK 8 as default Java
 This package sets the AdoptOpenJDK JDK8 as the system default.
 This will set JAVA_HOME, PATH, update-alternatives, etc.

Package: adoptopenjdk-java8-unlimited-jce-policy
Section: oldlibs
Priority: extra
Architecture: any
Pre-Depends: adoptopenjdk-java8-installer (>= ${source:Version})
Replaces: oracle-java8-unlimited-jce-policy
Depends: ${misc:Depends}
Description: Empty/transitional package for Unlimited JCE Policy for Java 8
 Webupd8 used to have a package like this, so I keep it for the easy upgrade.
 You do NOT have to install this to have high level encryption.
