
[Desktop Entry]
Encoding=UTF-8
Name=Oracle Java 8 Policy Tool
Comment=Oracle Java 8 Policy Tool
Exec=/usr/lib/jvm/java-8-oracle/bin/policytool
Terminal=false
Type=Application
Icon=oracle_java8
Categories=Settings;
