#!/bin/sh

set -e

. /usr/share/debconf/confmodule


### Variables
VER='0.7'

# Folders
J_INSTALL_DIR=/usr/lib/jvm/java-8-oracle/jre/lib/security
OLDDIR=/usr/lib/oracle-jdk8-installer-unpackdir
NEWDIR=/var/cache/oracle-jdk8-installer

SHA256SUM_TGZ="f3020a3922efd6626c2fff45695d527f34a8020e938a49292561f18ad1320b59"
J_DIR=UnlimitedJCEPolicyJDK8
FILENAME=jce_policy-8.zip
PARTNER_URL=http://download.oracle.com/otn-pub/java/jce/8/$FILENAME

db_get oracle-java8-unlimited-jce-policy/local
echo "$SHA256SUM_TGZ  $RET/$FILENAME" \
| sha256sum -c > /dev/null 2>&1 \
|| db_set oracle-java8-unlimited-jce-policy/local /var/cache/oracle-jdk8-installer

db_get oracle-java8-unlimited-jce-policy/local
echo "$SHA256SUM_TGZ  $RET/$FILENAME" \
| sha256sum -c > /dev/null 2>&1 \
|| db_set oracle-java8-unlimited-jce-policy/local /usr/lib/oracle-jdk8-installer-unpackdir

db_get oracle-java8-unlimited-jce-policy/local
echo "$SHA256SUM_TGZ  $RET/$FILENAME" \
| sha256sum -c > /dev/null 2>&1 \
|| db_reset oracle-java8-unlimited-jce-policy/local 

while true; do
    db_input medium oracle-java8-unlimited-jce-policy/local || true
    db_go
    db_get oracle-java8-unlimited-jce-policy/local
    if [ -d "$RET" -a -f "$RET"/$FILENAME ]; then
		LOCAL="true"
		break;
    elif [ "x$RET" = "x" ]; then
		break;
    fi
    db_reset oracle-java8-unlimited-jce-policy/not_exist || true
    db_reset oracle-java8-unlimited-jce-policy/local || true
    db_text medium oracle-java8-unlimited-jce-policy/not_exist || true
    db_go
done

exit 0
